<header>
    <nav class="text-center">
        <a href="/">Home</a>
        <a href="/pokemon">Favorites</a>
    </nav>
</header>

<h1> Here are your favorite pokemons! </h1>

<% pokemon.forEach(pokemon => { %>
    <div class="well">
        <h2>
            <a href="/pokemon/<%= pokemon.name %>">
                <%= pokemon.name %>
            </a>
        </h2>
    </div>
<% }); %>